%% -*- erlang -*-
%% See: http://erlang.org/doc/man/compile.html for documentation of these opts
{erl_opts,
 [ debug_info
 , warn_unused_import
 , {platform_define, "^[0-9]+", namespaced_types}
 ]}.

{deps, []}.

{xref_checks,
 [ deprecated_function_calls
 , undefined_function_calls
 ]}.

{relx,
 [ {release, {aoc, "0.0.1"},
    [ aoc
    ]}
   %% Default sys_config for local development
 , {sys_config, "config/sys_dev.config"}
 , {vm_args, "config/vm.args"}
 , {dev_mode, true}
 , {include_erts, true}
 , {extended_start_script, true}
 ]}.

%% Using '-' in atoms is not allowed unless we create atoms using 'atom()'
%% Reason for doing so is the ENV variable which determines which profile to use
%% is used further down the line
{profiles,
 [ {elvis,
    [ {deps,
       [ {elvis, {git, "https://github.com/inaka/elvis.git", {tag, "0.4.2"}}}
       ]}
    ]}
 ]
}.

{dialyzer,
 [ {plt_apps, all_deps}
 , {warnings, [ unknown
              ]}
 ]}.

{plugins, []}.
